@* So this is different from the index because there we passed a Category from the controller.
	Now we are not passing a Category from the controller, but we still want to work on it
	and access its properties.
*@

@* If you pass a model from the controller, it must match the model in the view.*@
@model Category

<form method="post">
	<div class="border" p-3 mt-4">
		<h2 class="text-primary">Create Category</h2>
		<hr />
	</div>

</form>